#indispensable {
    margin: 7px 0;
    font-size: 3em;
}
#indispensables {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerSites {
    width: 46%;
    display: flex;
    flex-direction: row;
}
.box {
    padding: 10px 0;
}
.part {
    width: 50%;
    font-family: "Poppins", sans-serif;
}

.part li {
    font-size: 15.2px;
}
.partImg {
    width: 100%;
    height: 100%;
    max-height: 430px;
    object-fit: cover;
    border-radius: 70px;
}

.partTitle {
    margin: 5px 0 10px 0;
    font-weight: 700;
    color: #ea7097;
    font-size: 1.2em;
}

.sites {
    margin-bottom: 10px;
}

.sites a {
    color: grey;
}
.siteTitle {
    margin-bottom: 4px;
    color: #f19886;
}
#design {
    text-align: right;
}
